/* CSS Styling - starts with a Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =============== Meyer Reset Above ================= */

body {
  width: 960px;
	margin:0 auto;
}

a {
	text-decoration:none;
	color:#000;
}

a:hover {
	font-weight:800;
}

h1 {
  font-size: 24px;
}

li {
  list-style-type: none;
  text-decoration: none;
	display:inline-block;
}

div {
	margin:0 auto;
}

nav {
	background-color:#999;
	padding:10px;
}

.navLink {
	margin-left:50px;
}

.hero {
	margin:0 auto;
	text-align:center;
}

.original {
	font-style: italic;
	font-size: 24px;
}

@font-face{
	font-family: 'Revue';
	src: url('Revue.ttf');
}

.branding {
	font-family: 'Revue', sans-serif;
	-webkit-transform: rotate(-10deg);
}

.indexBranding {
	font-family: 'Revue', sans-serif;
	font-size: 60px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
	-webkit-transform: rotate(-10deg);
	line-height:100px;
}

.inputcontainer {
	width:300px;
	clear: both;
}

.player_info {
	display:inline-block;
	width:100%;
	clear: both;
}

.hide_me {
    visibility:hidden;
}
.show_me {
    visibility:visible;
}

.player_inputs {
	margin:0 auto;
	text-align:center;
}

.button {
	display:inline-block;
	margin-left:15px;
}



/*  Game page styling  */
.main_game {
	width: 960px;
	height: 800px;
}

.score_table_div {
	width: 400px;
	margin: 0 auto;
	float: left;
}

.game_scores table {
  border: 2px solid black;
  width: 350px;
  margin-left: 0px;
  empty-cells: show;
  margin-bottom: 10px;
}

.game_scores th, td {
  border: 1px solid black;
  border-spacing: 0px;
}

.game_scores th {
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

.game_scores thead th {
  border-bottom: 2px solid black;
  text-align: center;
  width: auto;
}

.game_scores tr th{
  border-bottom: 2px solid black;
	border-right: 2px solid black;
  font-size: 16px;
  width: 200px;
}

.game_scores td {
  text-align: right;
}

.game_scores tfoot {
  font-weight: bold;
}

#turn {
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.clickable {
	cursor: pointer;
}

/* ============================ */

#the_scores {
	width: 100%;
}

.dice_area {
	width: 550px;
	float: left;
}

#dice_array {
	width: 100%;
}

.the_dice {
	display: inline-block;
	width: 92px;
	height: 92px;
	text-align: center;
	margin: 0 auto;
	margin-right: 5px;
}

.the_dice img {
	width: auto;
}

#hold_dice_array {
	margin: 0 auto;
}
#hold_dice_array h3 {
	display: inline-block;
	margin-right: 170px;
	font-size: 20px;
	margin-top: 15px;
}

input.hold_dice {
	display: inline-block;
	width: 90px;
	height: 50px;
	margin: 5px;
}

#roll_dice {
	/* button to roll dice */
	width: 150px;
	margin-top: 50px;
	margin-left: 175px;
	font-size: 18px;
}

#save_progress {
	width: 150px;
	margin-top: 50px;
	margin-left: 175px;
	font-size: 18px;
}

footer {
	clear: left;
	width: 250px;
	margin: 150px auto;
}

/*about page styling */

#score_board {
	margin: 0 auto;
	width: 500px;
}

#high_scores {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

table {
	width: 200px;
	display: block;
	margin: 0 auto;
}

tr {
	margin-top: 10px;
}

th {
	text-align: center;
	width: 100px;
	font-size: 22px;
}

td {
	width: 100px;
	font-size: 20px;
	padding: 5px 0 5px 30px;
}

hr {
	margin-top: 60px;
	margin-bottom: 20px;
}

.about {
	width: 600px;
}

.about h2 {
	font-size: 25px;
	text-align: center;
}

.about p {
	width: calc(66% - 30px);
	padding-left: 30px;
	display: inline-block;
	margin-top: 30px;

}

.about img {
	margin-top: 30px;
	vertical-align: top;
}
