/* CSS Styling - starts with a Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =============== Meyer Reset Above ================= */

body {
  width: 960px;
	margin:0 auto;
}

a {
	text-decoration:none;
	color:#000;
}

a:hover {
	font-weight:800;
}

h1 {
  font-size: 24px;
}

li {
  list-style-type: none;
  text-decoration: none;
	display:inline-block;
}

div {
	margin:0 auto;
}

nav {
	background-color:#999;
	margin:0 auto;
	padding:5px;
}

.navLink {
	margin-left:50px;
}

.hero {
	margin:0 auto;
	text-align:center;
}

.player_info {
	display:inline-block;
}

.showhideinputs {
	visibility:hidden;
}

.hide_me {
	visibility:hidden;
}
.show_me {
	visibility:visible;
}


.player_inputs {
	margin:0 auto;
	text-align:center;
}

.button {
	display:inline-block;
	margin-left:15px;
}



/*  Game page styling  */
.main_game {
	width: 960px;
	height: 800px;
}

.dice_area {
	width: 100%;
}

#dice_array {
	width: 350px;
	margin: 0 auto;
}

.the_dice {
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	margin-right: 5px;
	border: 1px solid black;
}

#hold_dice_array {
	margin: 0 auto;
}
#hold_dice_array h3 {
	display: inline-block;
	margin-right: 170px;
}

input.hold_dice {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 5px 35px 0px 0px;
}

#roll_dice {
	/* button to roll dice */
	width: 150px;
	margin-top: 50px;
	margin-left: 375px;
	font-size: 18px;
}

footer {
	width: 250px;
	margin: 150px auto;
}
