/* CSS Styling - starts with a Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =============== Meyer Reset Above ================= */

body {
  width: 960px;
	margin:0 auto;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration:none;
	color:#FFF;
}

a:hover {
	font-weight:800;
}

h1 {
  font-size: 24px;
}

li {
  list-style-type: none;
  text-decoration: none;
	display:inline-block;
}

div {
	margin:0 auto;
}

h1, h2, h3 {
	font-family:'Lobster', cursive;
}

nav {
	background-color:#a41010;
	padding:15px;
	font-family: 'Raleway', sans-serif;
	color:#FFF;
	border-right:5px solid #7b0c0c;
	border-bottom:5px solid #7b0c0c;
	border-left:2px solid #7b0c0c;
	border-top:2px solid #d22c2c;
}

.navLink {
	margin-left:50px;
	text-align:center;
	color:#FFF;
	font-family:'Lobster', cursive;
	font-size:20px;
}

.navLink:hover {
	color:#e68a8a;
}

.hero {
	margin:0 auto;
	text-align:center;
}

.original {
	font-style: italic;
	font-size: 24px;
	font-family:'Lobster', cursive;
	margin-left:-50px;
	-webkit-transform: rotate(-10deg);
}

@font-face{
	font-family: 'Revue';
	src: url('Revue.ttf');
}

.branding {
	font-family: 'Revue', sans-serif;
	-webkit-transform: rotate(-10deg);
	margin-right:10px;
}

/* CSS shadow effect from http://codepen.io/ThatGuySam/pen/CytDA */

.indexBranding {
	font-family: 'Revue', sans-serif;
	font-size: 82px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
	-webkit-transform: rotate(-10deg);
}

.inputcontainer {
	width:300px;
	clear: both;
}

.player_info {
	display:inline-block;
	width:100%;
	clear: both;
}

.hide_me {
    visibility:hidden;
}
.show_me {
    visibility:visible;
}

.player_inputs {
	margin:5px;
	text-align:center;
}

.button {
	display:inline-block;
	margin-left:15px;
}

.play_button_style {
	width:150px;
	height:50px;
	background-color:#a41010;
	font-family:'Lobster', cursive;
	font-size:20px;
	color:#FFF;
	border-radius:5px;
	border-right:3px solid #7b0c0c;
	border-bottom:3px solid #7b0c0c;
	border-left:3px solid #7b0c0c;
	border-top:3px solid #d22c2c;
}

.play_button_style:active {
	width:150px;
	height:50px;
	border-right:none;
	border-bottom:none;
	border-left:3px solid #7b0c0c;
	border-top:3px solid #7b0c0c;
}

.footer {
	width:600px;
	text-align:center;
	font-family:'Lobster', cursive;
}

/*  Game page styling  */
.main_game {
	width: 960px;
	height: 800px;
}

.score_table_title {
	font-size:32px;
	width:200px;
	margin-left:80px;
}

.score_table_div {
	width: 400px;
	margin-top:10px;
	padding-left:10px;
	float: left;
}

.game_scores table {
  width: 350px;
  margin-left: 0px;
  empty-cells: show;
  margin-bottom: 10px;
	border-radius:5px;
	border-right:1px solid #7b0c0c;
	border-bottom:1px solid #7b0c0c;
	border-left:1px solid #d22c2c;
	border-top:1px solid #d22c2c;
}

.game_scores th, td {
  border:1px solid #ad2727;
}

.game_scores th {
  font-weight: bold;
	background-color:#a41010;
	color:#FFF;
}

.game_scores thead th {
  text-align: center;
	border-top:1px solid #a41010;
	border-left:1px solid #a41010;
	border-right:1px solid #a41010;
	border-bottom:1px solid #ad2727;
  width: auto;
}

.game_scores tr th{
  font-size: 18px;
	font-weight:100;
  width: 200px;

}

.game_scores td {
  text-align: center;
	background-color:#e17272;
	border:1px solid #e68a8a;
}

.game_scores td:hover {
	background-color:#eba1a1;
}

.game_scores td:active {
	background-color:#dc5b5b;
}

.game_scores tfoot {
  font-weight: bold;
}

#turn {
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.clickable {
	cursor: pointer;
}

.not_clickable {
	cursor: default;
}

/* ============================ */

#the_scores {
	width: 100%;
}

.dice_area {
	width: 550px;
	float: left;
}

#dice_array {
	width: 100%;
}

.the_dice {
	display: inline-block;
	width: 92px;
	height: 92px;
	text-align: center;
	margin: 0 auto;
	margin-right: 5px;
}

.the_dice img {
	width: auto;
}

#hold_dice_array {
	margin: 0 auto;
}
#hold_dice_array h3 {
	display: inline-block;
	margin-right: 170px;
	font-size: 20px;
	margin-top: 15px;
}

input.hold_dice {
	display: inline-block;
	width: 90px;
	height: 50px;
	margin: 5px;
}

.game_hold_title {
	font-family:'Raleway', sans-serif;
	font-weight:bold;
}

#roll_dice {
	/* button to roll dice */
	width: 150px;
	margin-top: 50px;
	margin-left: 175px;
	font-size: 18px;
}

#save_progress {
	width: 150px;
	margin-top: 50px;
	margin-left: 175px;
	font-size: 18px;
}

.game_button_style {
	width:150px;
	height:50px;
	background-color:#a41010;
	font-family:'Lobster', cursive;
	font-size:20px;
	color:#FFF;
	border-radius:5px;
	border-right:3px solid #7b0c0c;
	border-bottom:3px solid #7b0c0c;
	border-left:3px solid #7b0c0c;
	border-top:3px solid #d22c2c;
}

.game_button_style:active {
	width:150px;
	height:50px;
	border-right:none;
	border-bottom:none;
	border-left:3px solid #7b0c0c;
	border-top:3px solid #7b0c0c;
}

footer {
	clear: left;
	width: 250px;
	margin: 150px auto;
	padding-top:20px;
}

/*about page styling */

#score_board {
	margin: 0 auto;
	width: 500px;
}

#high_scores {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

table {
	width: 300px;
	display: block;
	margin: 0 auto;
}

tr {
	margin-top: 10px;
	border:1px solid #FFF;
}

th {
	text-align: center;
	width: 150px;
	padding:5px;
	font-size: 22px;
	font-weight:800;
	background-color:#f0b8b8;
	border:1px solid #FFF
}

td {
	width: 100px;
	font-size: 20px;
	padding: 10px;
	text-align:center;
	border:1px solid #FFF;
	background-color:#fae7e7;
}

td:hover {
	background-color:#FFF;
	font-weight:bold;
}

hr {
	margin-top: 60px;
	margin-bottom: 20px;
}

.about {
	width: 600px;
	font-family:'Raleway', sans-serif;
}

.about h2 {
	font-size: 25px;
	text-align: center;
}

.about p {
	width: calc(60% - 30px);
	padding-left: 20px;
	display: inline-block;
	margin-top: 30px;

}

.about img {
	margin-top: 30px;
	vertical-align: top;
	height:300px;
}
